*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --black : #0D0D0D;
    --brown: #59473C;
    --cyan: #7C87A6;
    /* gradient:  #60667E #1A1614 #100D0B*/
}
body{
    background-image: url(../img/freetousebackground.png);
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 5rem;
    color: rgb(219, 219, 219);
    transform: translateX(-65px);
}
h2{
    font-size: 5rem;
    color: white;
    transform: translateY(-15px);
    cursor: pointer;
}
.timer-wrap{
    width: 700px;
    max-width: 700px;
    height: 400px;
    background-color: #161616;
    border-radius: 30px;
}
.mainWrap{
    padding-right: 15%;
}
.timer__part {
    font-size: 36px;
    font-weight: bold;
}